#list
  {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:80%;
  margin:0 auto; 
  border-collapse:collapse;
  }

#list td, #list th 
  {
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
  }

#list th 
  {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  }

#list tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }
.nav ul{

width:980px;

margin:0 auto;

height:60px;

padding:0;

overflow:hidden;
}

.nav ul li{

float:left;
list-style-type:none;
}

.nav ul li a{

width:120px;

height:38px;

line-height:38px;

background-color:#BEBEBE;

color:#FFF;

font-size:20px;

display:block;

text-align:center;

text-decoration:none;

}

.nav ul li a:hover{

color:#FFF;

background-color:#36C981;

}
#listId
  {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:60%;
  margin:0 auto; 
  border:1px solid #98bf21;
  border-collapse:collapse;
  }

#listId td, #listId th 
  {
  font-size:1em;
  border:none;
  padding:3px 7px 2px 7px;
  }

#listId th 
  {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  }

#listId tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }